/* Import the pywal colors */
@import url("{{cookiecutter.CACHE_DIR}}/wal/colors-waybar.css"); 
* {
    font-family: "Roboto Mono Medium", Helvetica, Arial, sans-serif;
    font-size: 150%;
}

window#waybar {
    background-color: transparent /* rgba(43, 48, 59, 0.5) */;
    color: @color7; 
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}